.input_bordered {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 230px;
  padding: 16px 8px;
  border: 1px solid #393939;
  border-radius: 8px;
}

.input_underlined {
  border-bottom: 1px solid #393939;
}

.inputComponent {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  border: none;
}

.input_medium {
  width: 178px;
  font-size: 16px;
}

.input_small {
  width: 115px;
  height: 21px;
  font-size: 14px;
}

.input__icon {
  flex-shrink: 0;
  margin-left: 5px;
}

.input__icon-close {
  flex-shrink: 0;
  margin-right: 5px;
  cursor: pointer;
}
