.input_bordered {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 240px;
  height: 56px;
  padding: 16px 8px;
  border: 1px solid var(--color-black);
  border-radius: 8px;
}

.input_underlined {
  border-bottom: 1px solid var(--color-black);
}

.inputComponent {
  flex: 1;
  width: 185px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  border: none;
}

.input_medium {
  font-size: 16px;
}

.input_small {
  width: 115px;
  height: 21px;
  font-size: 14px;
}

.input__icon {
  flex-shrink: 0;
  margin-left: 5px;
}
