.header {
  display: flex;
  align-items: center;
  min-height: 60px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 48px;
  height: 50px;
  border: 1px solid var(--color-black);
  border-radius: 50%;
}

.header__wrapper-logo {
  width: 40px;
  height: 40px;
}

.header__buttons {
  display: flex;
  gap: 15px;
}

.header__buttons-light,
.header__buttons-language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 8px;
}
