.header {
  padding: 0 150px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__wrapper {
  height: 50px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: end;
}

.header__wrapper-logo {
  height: 40px;
  width: 40px;
}

.header__buttons {
  display: flex;
  gap: 15px;
}

.header__buttons-light,
.header__buttons-language {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #393939;
  border-radius: 8px;
}
