.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 475px;
  height: 465px;
}

.loading__image {
  animation: loading-spin 6s linear infinite;
}

.loading__image_large {
  width: 450px;
  height: 460px;
}

.loading__image_small {
  width: 103px;
  height: 101px;
}

.loading__text {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
