.characterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.characterInfo__link {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-left: 150px;
  color: black;
  text-decoration: dashed;
}
