@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('./Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('./Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('./Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Karla;
  font-weight: 700;
  src: url('./Karla-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Karla;
  font-weight: 400;
  src: url('./Karla-Regular.ttf') format('truetype');
}
