.select {
  position: relative;
  display: inline-block;
}

.select__header {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  padding: 0 10px;
  color: var(--color-text);
  background: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 6px;
}

.select__header_small {
  width: 101px;
  height: 21px;
  padding: 2px 5px;
  font-size: 14px;
}

.select__arrow,
.select__arrow_small {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
}

.select__arrow_small {
  width: 20px;
  height: 15px;
}

.select__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  max-height: 160px;
  padding: 4px 0;
  margin: 0;
  overflow-y: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 6px;
}

.select__item {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 10px 14px;
  color: var(--color-text);
}

.select__item_small {
  padding: 5px;
}

.select__item:hover {
  background: var(--color-hover);
}
