@import './assets/fonts/fonts.css';

:root {
  --color-black: #393939;
  --color-white: #fff;
  --color-border: #e5e5e5;
  --color-text: #0009;
  --color-hover: #f0f0f0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}
