.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-top: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
