.charactersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.charactersList__image {
  width: 600px;
  height: 200px;
  margin-top: 20px;
}

.characterList__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 28px;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-top: 28px;
  list-style: none;
}
